.footer{
    height: 40vh;
    width: 100%;
    background-color: #0f1a20;
}

.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text h3{
    color: #FFE156;
    position: relative;
    
}

.footer-text h3::after{
    content: "";
    position: absolute;
    /* background-color: #F4F4F9; */
    height: 10%;
    width: 100%;
    left: 0;
    top: 95%;
    border: 1px solid #F4F4F9;
    
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-left: 5vw;
    width: 20%;
    height: 25vh;
    
    
}

.footer-links a{
    width: max-content;
    color: #00A7E1;
    
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-contact{
    width: 35%;
    height: 25vh;
    display: flex;
    align-items: center;
}

.footer-contact h4, h5{
    color: #F4F4F9;
    margin: 0;
    font-weight: 500;
}

.footer-contact img{
    height: 10vw;
    width: 12vw;
    

}
.footer-developer{
    width: 25%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    
}

.footer-developer h2{
    font-size: 1.3vw;
    margin-top: 1vw;
    color: #FFE156;
    font-weight: 500;
}

.footer-developer h3{
    margin-top: 0vw;
    color: #F4F4F9;
    font-size: 1.3vw;
    font-weight: 500;
    margin-bottom: 0.4vw;
}

.footer-developer a{
    color: #00A7E1;
}